.parent__content {
  position: relative;
}

.header__txt {
  color: #000080;
  font-weight: bold;
  font-size: 24px;
}

nav {
  list-style: none;
  color: #000080;
  font-weight: bold;
}

.nav1 {
 position: absolute;
 bottom: 55px;
 right: 350px;
}

.nav2 {
  position: absolute;
  bottom: 55px;
  right: 240px;
}

.nav3 {
  position: absolute;
  bottom: 55px;
  right: 130px;
}

.nav4 {
  position: absolute;
  bottom: 55px;
  right: 0px;
}

.parent {
  position: relative;
}

.parent__img {
  width: 600px;
  height: 500px;
  display: block;
  margin-left: auto;
  padding-bottom: 100px;

}

.parent__ttl{
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  display: block;
  position: absolute;
  top: 350px;
}

.parent__box {
  background-color: #000080;
  width: 70%;
  height: 200px;
  z-index: -1;
  display: block;
  position: absolute;
  top: 400px;
}






