

.parent__content {
  position: relative;
}

.header__txt {
  color: #000080;
  font-weight: bold;
  font-size: 24px;
}

nav {
  list-style: none;
  color: #000080;
  font-weight: bold;
}

.nav1 {
 position: absolute;
 bottom: 55px;
 right: 350px;
}

.nav2 {
  position: absolute;
  bottom: 55px;
  right: 240px;
}

.nav3 {
  position: absolute;
  bottom: 55px;
  right: 130px;
}

.nav4 {
  position: absolute;
  bottom: 55px;
  right: 0px;
}


.column {
  display: grid;
  grid-template-rows: 100px 200px 50px 50px 150px 50px;
  grid-template-columns: 500px 300px 350px 350px;
}



.parent__img {
  width: 550px;
  height: 400px;
 grid-column: 3/5;
 grid-row: 2/5;
  z-index: 2;
}

.parent__ttl{
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
  grid-column: 1/2;
  grid-row: 3/5;
}

.parent__box {
  background-color: #000080;
  width: 900px;
  height: 200px;
  grid-column: 1/4;
  grid-row: 5/6;
  z-index: 1;
}
